
/* Saca padding global del bloque speakers */
#speakers.section {
  padding: 0 !important;
  margin: 0 !important;
}


#speakers .container.section-title {
  padding: 0 !important;
}

#categories-carousel {
  margin: 0 !important;
  padding: 1 !important;
}


